<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <meta content='IE=8' http-equiv='X-UA-Compatible'>
    <title></title>
  </head>
  <body>
    <table class='noborder'>
      <tr class='noborder'>
        <td class='noborder'></td>
        <td class='noborder'>
          <h1 class='center'>
            FORM 1: CONTINUOUS SYNOPSIS RECORD (CSR)
          </h1>
          <h4 class='center'>
          </h4>
        </td>
        <td class='noborder'></td>
      </tr>
    </table>
    <table>
      <tr>
        <td class='center background no_border_b'>INFORMATION</td>
      </tr>
      <tr>
        <td class='number no_border_br'>1</td>
        <td class='item no_border_br'>This document applies from (date):</td>
        <td class='value no_border_b'></td>
      </tr>
      <tr>
        <td class='number no_border_br'>2</td>
        <td class='item no_border_br'>Flag State:</td>
        <td class='value no_border_b'>
          Gibraltar (an overseas territory of the UK)
          <sup>1</sup>
        </td>
      </tr>
      <tr>
        <td class='number no_border_br'>3</td>
        <td class='item no_border_br'>Date of registration with the State indicated in 2:</td>
        <td class='value no_border_b'></td>
      </tr>
      <tr>
        <td class='number no_border_br'>4</td>
        <td class='item no_border_br'>Name of ship:</td>
        <td class='value no_border_b'></td>
      </tr>
      <tr>
        <td class='number no_border_br'>5</td>
        <td class='item no_border_br'>Port of registration:</td>
        <td class='value no_border_b'></td>
      </tr>
      <tr>
        <td class='number no_border_br' valign='top'>6</td>
        <td class='item no_border_br' valign='top'>Name of current registered owner(s):</td>
        <td class='value no_border_b' valign='top'></td>
      </tr>
      <tr>
        <td class='number no_border_tbr'></td>
        <td class='item no_border_tbr' valign='top'>Registered address(es):</td>
        <td class='value no_border_tb' valign='top'></td>
      </tr>
      <tr>
        <td class='number no_border_br' valign='top'>7</td>
        <td class='item no_border_br' valign='top'>Registered owner identification number:</td>
        <td class='no_border_b' valign='top'></td>
      </tr>
      <tr>
        <td class='number no_border_br' valign='top'>8</td>
        <td class='item no_border_br' valign='top'>If applicable, name of current registered bareboat charterer(s):</td>
        <td class='value no_border_b' valign='top'>
        </td>
      </tr>
      <tr>
        <td class='number no_border_tbr'></td>
        <td class='item no_border_tbr' valign='top'>Registered address(es):</td>
        <td class='value no_border_tb' valign='top'>
        </td>
      </tr>
      <tr>
        <td class='number no_border_br' valign='top'>9</td>
        <td class='item no_border_br' valign='top'>Name of Company (International Safety Management):</td>
        <td class='value no_border_b' valign='top'>
        </td>
      </tr>
      <tr>
        <td class='number no_border_tbr'></td>
        <td class='item no_border_tbr' valign='top'>Registered address(es):</td>
        <td class='value no_border_tb' valign='top'>
        </td>
      </tr>
      <tr>
        <td class='number no_border_tbr'></td>
        <td class='item no_border_tbr' valign='top'>Address(es) of its Safety Management activities (if different):</td>
        <td class='value no_border_tb' valign='top'>
        </td>
      </tr>
      <tr>
        <td class='number no_border_br'>10</td>
        <td class='item no_border_br' valign='top'>Company identification number:</td>
        <td class='value no_border_b' valign='top'>
        </td>
      </tr>
      <tr>
        <td class='number no_border_br' valign='top'>11</td>
        <td class='item no_border_br' valign='top'>Name of all classification societies with which the ship is classed:</td>
        <td class='value no_border_b' valign='top'></td>
      </tr>
      <tr style='page-break-after:always;'>
        <td class='number no_border_br' valign='top'>12</td>
        <td class='item no_border_br' valign='top'>Administration / Government / Recognised Organisation which issued the Document of Compliance:</td>
        <td class='value no_border_b' valign='top'>
        </td>
      </tr>
      <tr>
        <td class='number no_border_tbr'></td>
        <td class='item no_border_tbr' valign='top'>Body which carried out audit (if different):</td>
        <td class='value no_border_tb' valign='top'>
        </td>
      </tr>
      <tr>
        <td class='number no_border_br' valign='top'>13</td>
        <td class='item no_border_br' valign='top'>Administration / Government / Recognised Organisation which issued the Safety Management Certificate:</td>
        <td class='value no_border_b' valign='top'>
        </td>
      </tr>
      <tr>
        <td class='number no_border_tbr'></td>
        <td class='item no_border_tbr' valign='top'>Body which carried out audit (if different):</td>
        <td class='value no_border_tb' valign='top'>
        </td>
      </tr>
      <tr>
        <td class='number no_border_br' valign='top'>14</td>
        <td class='item no_border_br' valign='top'>Administration / Government / Recognised Organisation which issued the International Ship Security Certificate:</td>
        <td class='value no_border_b' valign='top'>
        </td>
      </tr>
      <tr>
        <td class='number no_border_tbr'></td>
        <td class='item no_border_tbr' valign='top'>Body which carried out the verification (if different):</td>
        <td class='value no_border_tb' valign='top'>
        </td>
      </tr>
      <tr>
        <td class='number no_border_br' valign='top'>15</td>
        <td class='item no_border_br' valign='top'>Date on which the ship ceased to be registered with the State indicated in 2:</td>
        <td class='value no_border_b'></td>
      </tr>
      <tr>
        <td class='number no_border_r'>16</td>
        <td class='item no_border_r'>Remarks:</td>
        <td class='value'></td>
      </tr>
    </table>
    <p>THIS IS TO CERTIFY THAT this record is correct in all respects.</p>
    <p>
      Issued by the Administration of: The Government of Gibraltar
      <sup>1</sup>
    </p>
    <table class='no_border borderless' style='border-spacing: none; border-padding: none; border: none; border-collapse:collapse; margin-left:-5px;'>
      <tr style='border-spacing: none; border-padding: none;'>
        <td class='no_border'>
          Place of issue: Gibraltar
          <br>
          <br>
          Signature of authorised person:
        </td>
        <td class='no_border' style='border-spacing: none; border-padding: none;'>
          <br>
          <br>
          Name of authorised person:
        </td>
      </tr>
    </table>
    <p>This document was received by the ship and attached to the ship's CSR file on the following date:</p>
    <table class='no_border borderless' style='border-spacing: none; border-padding: none; border: none; border-collapse:collapse; margin-left:-5px;'>
      <tr>
        <td class='no_border'>
          <br>
          <br>
          ....................................................................
          <br>
          <div class='subtle'>Date</div>
        </td>
        <td class='no_border' style='border-spacing: none; border-padding: none;'>
          <br>
          <br>
          ....................................................................
          <br>
          <div class='subtle'>Signature</div>
        </td>
      </tr>
    </table>
    <small class='subtle'>
      <sup>1</sup>
      This Certificate is issued by or on behalf of Gibraltar under the responsibility of the United Kingdom as flag-state under the Convention.
    </small>
  </body>
</html>
